.venv
latex/tfm.aux
latex/tfm.bbl
latex/tfm.bcf
latex/tfm.blg
latex/tfm.fdb_latexmk
latex/tfm.fls
latex/tfm.log
latex/tfm.run.xml
latex/tfm.synctex.gz
latex/tfm.toc
/py/derinet
*.bin
py/embeddings/pol/nkjp+wiki-forms-all-300-skipg-ns.txt
py/__pycache__/embeddings.cpython-312.pyc
py/embeddings/pol/nkjp+wiki-forms-all-100-skipg-ns
py/embeddings/pol/nkjp+wiki-forms-all-100-skipg-ns.syn1neg.npy
py/embeddings/pol/nkjp+wiki-forms-all-100-skipg-ns.syn0.npy
/py/datasets/spa/velespa
py/__pycache__/bert_embeddings.cpython-312.pyc
/py/datasets/pol/other models
/py/results/pol/buenos
/py/results/spa/buenos
/py/results/baseline
py/main_biplets_bert.py
/py/plots/old
/py/results/old
